<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">
                            <span data-feather="home"></span>
                            Dashboard <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <!-- <span data-feather="file"></span> -->
                            Scrape Articles
                        </a>
                    </li>
                </ul>

                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                    <span>Saved reports</span>
                    <a class="d-flex align-items-center text-muted" href="#">
                        <span data-feather="plus-circle"></span>
                    </a>
                </h6>
                <ul class="nav flex-column mb-2">
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="file-text"></span>
                            Saved Articles
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <div
                class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                <h1 class="h2">Dashboard - Saved Articles</h1>

            </div>

            <div id="cardholder">
                {{#each articles}}
                <div class="card" data-id={{_id}}>
                    <div class="card-header text-white bg-primary">
                        <span>
                            <b> {{title}}</b>
                            <button class="btn btn-success btn-sm  float-right" id="delSavedArticle"
                                data-id={{_id}}>Delete</button>
                            &nbsp &nbsp
                            <button class="btn btn-success btn-sm  float-right" id="notes"
                                data-id={{_id}}>Notes</button>
                        </span>
                    </div>
                    <div class="card-body m-0 p-0 row">
                        <div class="col-sm-8">
                            <p>{{description}}</p>
                        </div>
                        <div class="col-sm-4">
                            <img src={{image}} alt={{title}} width="100px" class="img-thumbnail float-right" />
                        </div>
                    </div>
                </div>
                <br>
                {{/each}}
            </div>

        </main>
    </div>
</div>


<!-- Modal -->
<div id="results-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header text-center text-success">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <p class="invisible" id="titleModal"></p>
                <button type="button" class="close" data-dismiss="modal" id="closeBtn" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul class="list-group" id="noteBody">

                </ul>
                <textarea class="form-control" aria-label="With textarea" id="textNote"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-id="" id="saveNote">Save</button>
            </div>
        </div>

    </div>
</div>


<script src="./js/savedArticles.js" type="text/javascript"></script>